<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JMDDTT0Y7C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JMDDTT0Y7C');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7252354354222007"
     crossorigin="anonymous" onerror="adBlockFunction();"></script>

