<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
<!-- <meta name="keywords" content="kanani,nirav,kananinirav,niravkanani,aws,cloud,notes,share,quick,study,pass,practitioner,revision,aws cloud practitioner,aws cloud practitioner exam,cloud practitioner,short notes,pass exam,aws cloud computing,certified cloud practitioner,aws cloud certification,cloud, productivity, engineering, community"> -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JMDDTT0Y7C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JMDDTT0Y7C');
</script>
