<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">Dashboard</a>
        <a href="{{ site.github.all_certification }}" class="btn" target="_blank">Other Certification Notes</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      {% if page.link %}
        <!-- <p> <strong>You Can Purchase PDF :</strong> &nbsp; &nbsp;
        <strong><a href="https://www.buymeacoffee.com/kananinirav/e/151079" target="blank">AWS Cloud Practitioner Study Notes (PDF)</a></strong> </p> -->
      {% endif %}

      <!-- comment provider -->
      {% assign giscus = site.giscus %}
      <script src="https://giscus.app/client.js"
        data-repo={{ giscus.repo }}
        data-repo-id={{ giscus.repo-id }}
        data-category={{ giscus.category }}
        data-category-id={{ giscus.category-id }}
        data-mapping={{ giscus.mapping }}
        data-strict={{ giscus.data-strict }}
        data-reactions-enabled={{ giscus.reaction-enabled }}
        data-theme={{ giscus.theme }}
        data-input-position={{ giscus.input-position }}
        data-loading={{ giscus.loading }}
        crossorigin={{ giscus.crossorigin }}
        async>
      </script>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <!-- <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span> -->
          <span class="site-footer-owner">Made with ❤️ by <a href="{{ site.github.owner_url }}" target="_blank">Nirav Kanani</a></span>
        {% endif %}
        <!-- <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span> -->
      </footer>
      <script type="text/javascript">
        window.addEventListener('load', function () {
          uBlockActive();
        })
      </script>
    </main>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="kananinirav" data-description="Support me on Buy me a coffee!" data-message="" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>
