---
layout: default
---

<link href="{{ site.baseurl }}/assets/css/exam.css" rel="stylesheet">

<p>Select the correct answers for each question, including multiple-choice options when applicable, and click <b>Submit</b> to view your results. The quiz calculates your score and percentage, highlighting any incorrect questions to help you identify areas for improvement.</p>

<p>Click on the <b>Answer</b> button for the correct answer and its explanation.</p>

<p>If this practice exam has been helpful to you please share it with others and react to this below.</p>

<hr>

{{content}}

<button type="button" onclick="submitQuiz()">Submit</button>

<div id="result" style="display: none;">
  <h2>Your Score: <span id="score"></span></h2>
  <p class="percentage">Percentage: <span id="percentage"></span>%</p>
</div>

<p>Please feel free to comment below if any information is inaccurate or if any answers need correction.</p>

<a href="/practice-exam/exams.html"><img align="center" src="../images/list.png" height="30" width="30">Exam List</a>

<hr>

<p> <strong>You Can Purchase Sturdy PDF :</strong> &nbsp; &nbsp;</p>
<p><strong><a href="https://buymeacoffee.com/kananinirav/e/151079" target="blank">AWS Cloud Practitioner Study Notes - CLF-C02 (PDF)</a></strong> </p>
<p><strong><a href="https://buymeacoffee.com/kananinirav/e/174069" target="blank">AWS Cloud Practitioner Practice Exams - CLF-C02 (PDF)</a></strong> </p>

<h3>If you find the content of this website interesting and helpful, use the “Buy me a Coffee” link below to buy me a coffee</h3>

<p><a href="https://www.buymeacoffee.com/kananinirav" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" height="41" width="174"></a></p>

<p><img src="https://media.giphy.com/media/gTURHJs4e2Ies/giphy.gif" alt="gif"></p>

<script src="{{ site.baseurl }}/assets/js/exam.js"></script>
